//- ===== WEBSITE COMPONENT TEMPLATES =====



//- hero carousel
- var heroImg = ['hero1.jpg', 'hero2.jpg', 'hero3.jpg'] 

mixin heroCarousel()
	#heroCarousel(style='position: relative; height: 550px; overflow: hidden')
		each img in heroImg
			img(src=img, style='margin-top: -55px')
	#heroArrows
	

//- section under the landing content
- var ctaList = ctaData

mixin ctaComp()
	#ctaContainer
		.columns.has-text-centered
			each cta in ctaList
				.column
					img(src=cta.img)
					h3= cta.title
					p= cta.desc
					button.button-black= cta.button


// sponsors
- var sponsors = ['myTunes.png', 'soundwave.png', 'beatbot.png', 'video.png', 'musicamp.png', 'lost-fm.png']
- var n = 0

mixin sponsors()
	#sponsors
		.level
			while n < 3
				.level-item
					img(src=sponsors[n])
					- n++
		.level
			while n < 6
				.level-item
					img(src=sponsors[n])
					- n++


// records
- var records = recordData

mixin records()
	.multiple1
		each record in records
			.record
				img(src=record.img)
				h3= record.title
				p (#{record.year})


// tour dates
- var tours = tourData
- var i = 0

mixin tourList()
	#tourList
		- n = 0
		while i < 6
			.columns
				while n < 2
					.column
						.dateBox
							h2= tours[i].date
							h4= tours[i].month
						.tourDesc
							h3= tours[i].location
							p= tours[i].time
							- i++
							- n++
				
				- n = 0


// testimonials
- var reviews = reviewData

mixin reviews()
	#reviews
		each review in reviews
			.review
				.reviewImg
					img(src=review.img)
				.reviewDesc
					h3= review.name
					h4= review.profession
					p= review.review
	.reviewDots


// blog posts
- var blogs = blogData

mixin blogs()
	.multiple2
		each blog in blogs
			.blog
				.blogImg
					img(src=blog.img)
					.blogComp
						h2= blog.date
						h5= blog.month
				h3= blog.title
				p= blog.blog
				button.button-black READ MORE



// PREFOOTER

// recent news
mixin recentNews()
	#recentNews
		- n = 0
		while n < 3
			h4= blogs[n].title
			p= blogs[n].month
			if n != 2
				hr
			- n++

// photo gallery
mixin gallery()
	#gallery
		- n = 0
		while n < 3
			- i = 0
				while i < 3
					img(src='blog4.jpg', style='width: 70px; height: auto')
					- i++
			- n++

// useful links
- var usefuls = ['Tickets', 'Contacts', 'Tour', 'Album', 'Meet us']

mixin useful()
	#useful
		each link in usefuls
			a(href='#')
				= link
				hr
